services:
  db:
    image: postgres:16
    container_name: postgres_db
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - storedelvan_network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d ${POSTGRES_DB} -U ${POSTGRES_USER}"]
      interval: 1m30s
      timeout: 30s
      retries: 5
      start_period: 30s
    restart: unless-stopped
  web:
    build: .
    restart: unless-stopped
    container_name: django_web
    env_file:
      - .env
    ports:
      - 8000:8000
    networks:
      - storedelvan_network
    depends_on:
      db:
        condition: service_healthy
    volumes:
    - .:/app         
    - media_files:/app/media
    - static_files:/app/staticfiles
    command: sh -c "python manage.py migrate && gunicorn --bind 0.0.0.0:8000 --workers 3 --timeout 120 config.wsgi:application"
    

volumes:
  postgres_data:
  media_files:
  static_files:

networks:
  storedelvan_network:
    driver: bridge

