[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-restframework = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
drf-nested-routers = "*"
django-allauth = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
pillow = "*"
django-mptt = "*"
django-rosetta = "*"
environs = {extras = ["django"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
