{% extends "_base.html" %}

{% load static %}

{% load i18n %}

{% load persian_translation_tags %}

{% load humanize %}

{% block content %}
    

    <!-- Main Wrapper Start -->
    <div class="wrapper">

        <!-- Main Content Wrapper Start -->
        <div  class="main-content-wrapper container-fluid">
            <div class="shop-page-wrapper shop-fullwidth">
                <div class="container">
                    <div class="row mb--50">
                        <div class="col-12">
                            <div class="shop-toolbar">
                                <div class="container row align-items-center">
                                    <div class="col-lg-12 mb-md--50 mb-xs--10">
                                        <div class="shop-toolbar__left d-flex align-items-sm-center align-items-start flex-sm-row flex-column">
                                            <p class="product-pages">نمایش ۱-۲۰ از ۴۹</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid shop-products">
                    <div class="row">
                        <div class="col-12">
                            <div class="tab-content" id="product-tab-content">
                                <div class="tab-pane fade show active" id="nav-all">
                                    <div class="row xxl-block-grid-6 grid-space-20">
                                        {% for product in products %}
                                        <div class="col-xl-3 col-md-4 col-sm-6 mb--50">
                                            <div class="ShoppingYar-product">
                                                <div class="product-inner">
                                                    <figure class="product-image">
                                                        <a href="{{ product.get_absolute_url }}">
                                                        {% if product.cover %}
                                                                <img src="{{ product.cover.url }}" alt="{{product.name }}">
                                                        {% endif %}
                                                        </a>
                                                        <div class="ShoppingYar-product-action">
                                                            <div class="product-action d-flex">
                                                                <a href="{{ product.get_absolute_url }}" class="action-btn">
                                                                    <i class="flaticon flaticon-like"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <span class="product-badge">تخفیف ویژه</span>
                                                    </figure>
                                                    <div class="product-info">
                                                        <h3 class="product-title mb--15">
                                                            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                                                        </h3>
                                                        <div class="product-price-wrapper mb--30">
                                                            <span class="money">{{product.unit_price|intcomma:False|translate_number}} {% trans "$" %}</span>
                                                        </div>
                                                        <a href="{% url 'cart_detail' %}" class="btn btn-small btn-bg-sand btn-color-dark px-3">{% trans "Add To Cart" %}</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                {% if page_obj.has_previous %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number|translate_number}}">{% trans "Previous" %}</a></li>
                                {% endif %}
                                    <li class="page-item"><a class="page-link" href="#">{{ page_obj.number|intcomma:False|translate_number}}</a></li>
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number|translate_number}}">{% trans "Next" %}</a></li>
                                {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Content Wrapper Start -->


<!-- Search form Popup Start -->
{% comment %} {% include "store/search_results.html" %} {% endcomment %}


<!-- Search form Popup End -->

        {% include "store/cart_sidebar.html" %}



        <!-- Global Overlay Start -->
        <div class="ShoppingYar-global-overlay"></div>
        <!-- Global Overlay End -->

    </div>
    <!-- Main Wrapper End -->

{% endblock content %}

